.bar{
    height: 5px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1202;
    background: linear-gradient(90deg, #00AFD7, #7d8380,#69BE28,#be284e)
}
.title {
    font-size: 14px;
    color: #222222; 
    text-transform: capitalize;   
  }